[submodule "Packages/vivian-autoquest-recording"]
	path = Packages/vivian-autoquest-recording
	url = https://gitlab.com/usability-engineering-ar-mr-vr/vivian-framework/vivian-autoquest-recording.git
	update = merge
[submodule "Packages/vivian-core"]
	path = Packages/vivian-core
	url = https://gitlab.com/usability-engineering-ar-mr-vr/vivian-framework/vivian-core.git
	update = merge
[submodule "Packages/vivian-example-prototypes"]
	path = Packages/vivian-example-prototypes
	url = https://gitlab.com/usability-engineering-ar-mr-vr/vivian-framework/vivian-example-prototypes.git
	update = merge
[submodule "Packages/vivian-mouse-interaction"]
	path = Packages/vivian-mouse-interaction
	url = https://gitlab.com/usability-engineering-ar-mr-vr/vivian-framework/vivian-mouse-interaction.git
	update = merge
[submodule "Packages/autoquest-generic-event-monitor-unity"]
	path = Packages/autoquest-generic-event-monitor-unity
	url = https://gitlab.com/usability-engineering-ar-mr-vr/autoquest/autoquest-generic-event-monitor-unity.git
	update = merge
