Library
Logs
obj
Temp
Assets/AssetBundles
Assets/AssetBundles.meta
Assets/Resources/TemporalPrototypes/*
Assets/Scenes/TemporalScenes/*
Builds

.vs
.idea/
/[Aa]ssets/Plugins/Editor/JetBrains*

*.csproj
*.sln
*~